{% extends 'base.html' %}
{% load static %}

{% block title %}People{% endblock %}

{% block content %}

<form action="" method="get" class="search-form">
    <input type="text" name="search" class="search-input" placeholder="Search users...">
    <input type="submit" value="Search" class="search-btn">
</form>

{% with user_list=page_obj %}
    {% if user_list %}

        {% for user in user_list %}
            <div class="user-row">

                <a href="{{ user.get_absolute_url }}" class="avatar">
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="profile image">
                    {% else %}
                        <img src="{% static 'accounts/images/default-profile-image.jpeg' %}" alt="default profile image">
                    {% endif %}
                </a>

                <div class="user-info">
                    <a href="{{ user.get_absolute_url }}" class="user-username">@{{ user }}</a>
                    <span class="user-email">{{ user.get_full_name }}</span>

                    {% if user.bio %}
                        <p class="user-bio">{{ user.bio }}</p>
                    {% endif %}
                </div>

            </div>
        {% endfor %}

        {% if user_list.has_other_pages %}
            {% include 'includes/pagination.html' %}
        {% endif %}

    {% else %}
        <div class="empty-state">Nothing to show</div>
    {% endif %}
{% endwith %}

{% endblock %}
