{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="form-card">
    <h2 class="form-title">Reset Password</h2>

    {% include 'includes/form_errors.html' %}

    <form action="" method="post" class="form">
        {% csrf_token %}

        {{ form.username }}

        <button type="submit" class="btn btn-primary">Send Code</button>
    </form>

    <p class="page-link-container">
        Remember your password?
        <a href="{% url 'accounts:user-login' %}" class="page-link">Login</a>
    </p>
</div>

{% endblock %}
