{% extends 'base.html' %}

{% block title %}Verify Code{% endblock %}

{% block content %}

<div class="form-card">
    <h2 class="form-title">Verify Code</h2>

    {% include 'includes/form_errors.html' %}

    <form action="" method="post" class="form">
        {% csrf_token %}

        {{ form.code }}

        <button type="submit" class="btn btn-primary">Verify</button>
    </form>

    <p class="page-link-container">
        Didn’t receive the code?
        <a href="{% url 'accounts:user-password-reset' %}" class="page-link">Send Again</a>
    </p>
</div>

{% endblock %}
